matplotlib
numpy==1.23
tqdm
pandas
scikit-learn
seaborn
wandb
plotly
torch_geometric
tensorboardX
attrs
flatten_dict
gcsfs
google-auth
fsspec
cvxopt==1.2.7
cvxpy
torch==1.12.1+cu113
torchvision==0.13.1+cu113
torchaudio==0.12.1